.nav {
  padding: 1rem;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
  }

  &__icon {
    height: 2rem;
  }
}
